@{
    Layout = null;
}
@model FirstIteration.Models.transcendenceEntities
<!doctype html>
<html lang="en">
<head>
    <!-- DropDownList Data -->
    <script src="../../Scripts/DropDownLists.js"></script>
    <script src="../../Scripts/LineCharts.js"></script>
    <script src="../../Scripts/BarCharts.js"></script>
    <script src="../../Scripts/PieCharts.js"></script>
</head>
<body>
    <div id="FundDDLs" style="width:100%; height:100%">
        <ul class="nav">
            <li class="active" style="padding: 10px 15px;">
                <label for="sel1">Department:</label>
                @Html.DropDownListFor(m => m.Departments, (IEnumerable<SelectListItem>)ViewBag.Department, "--Select Department--", new { @class = "form-control", id = "ddldepartment" })
            </li>
            <li class="active" style="padding: 10px 15px;">
                <label for="sel1">Funding Category:</label>
                <select id="ddlfundcategory" name="funding_source" class="form-control">
                    <option value="">--Select Fund Category--</option>
                </select>
            </li>
            <!--<li class="active" style="padding: 10px 15px;">
                <label for="sel1">Funding Source:</label>
                <select id="ddlfundcodename" name="staff_id" class="form-control">
                    <option value="">--Select Fund Code Name--</option>
                </select>
            </li>-->
            <li class="active" style="padding: 10px 15px;">
                <button type="button" class="form-control" id="generate">Submit</button>
            </li>
        </ul>
    </div>
</body>
</html>
